<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <link href="atom" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />

    <%= if assigns[:page_title] do %>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@filipecabaco" />
      <meta name="twitter:creator" content="@filipecabaco" />
      <meta property="og:title" content={@page_title} />
      <meta property="og:description" content={@description} />
      <meta property="og:type" content="website" />
      <%= if assigns[:title] do %>
        <meta property="og:url" content={BlogWeb.Endpoint.url() <> ~p"/post/#{@title}"} />
      <% end %>
      <meta property="og:image" content={BlogWeb.Endpoint.url() <> "/images/logo.png"} />
      <meta property="og:image:width" content="128" />
      <meta property="og:image:heigth" content="128" />
      <meta property="og:site_name" content="Filipe Cabaco Blog" />
    <% end %>

    <.live_title prefix="Filipe Cabaco Blog ">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body>
    <header class="site-header">
      <div class="container" style="max-width: 1200px;">
        <nav class="site-nav">
          <a href="/" class="site-logo" data-phx-link="redirect" data-phx-link-state="push">filipecabaco.com</a>
          <a href="/open_dashboard" class="nav-link" data-phx-link="redirect" data-phx-link-state="push">dashboard</a>
        </nav>
      </div>
    </header>
    {@inner_content}
  </body>
</html>
