<h1>Open Dashboard</h1>
<h3>See the metrics for each post in my blog</h3>
<div style="display: flex; width: 100%; justify-content: center;">
    <.live_component module={BlogWeb.Components.Dashboard} id="dashboard" />
</div>
